/* general purpose styles */
.center-xy {
    /* center from both the axis */
    display: flex;
    justify-content: center;
    align-items: center;
}
* {
    box-sizing: border-box;
    
}
/* styles for elements*/
body {
    background: aqua;
    margin: 0;
}

.main {
    height: 1wh;
    width: 100%;
    min-width: 360px;
    background-image:linear-gradient(to bottom, #c6a8a8,orange,yellow) ;
    background-repeat: no-repeat;
    padding: 10px;

}

#header {
    padding: 4px;
    text-align: center;
    color: steelblue;
    font-family: cursive;
    font-size:3em;
}
#head1 {
    
}
.description {
    color: white;
    font-family: monospace;
    width: 80%;
    margin: auto;
    text-align: center;
}
/* Styles for a navigation bar */
.navbar {
    margin: 12px auto;
    padding: 0;
    width: 80%;
    height: auto;
    display: flex;
    justify-content: space-evenly;

}
.navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1.6em;
    padding: 6px 20px;
    margin:12px 0 0 0;
    background: red;
    height: 100%;
    border-radius: 12px ;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
/* Designing a common layout for a general section */
.card {
    margin:10px auto;
    max-width: 1080px;
    padding: 5px;
    background: blanchedalmond;
    color: #333333;
    font-family: verdana;
    border-radius: 20px;
    padding-inline: 10px;
    height: auto;
}
.cnt-name {
    color: black;
    font-size:2em;
    margin: 18px 32px;
}
/* Area under a card */
.content {
    font-size: 1.2em;
    margin:10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
    }
    
.cnt-para {
    flex: 70%;
    padding-inline: 12px;
    text-align: justify;
    }

}
.content ul {
    padding: 0 18px 0 18px;
}
.content ul li {
    margin:12px 0 0 0;
}
/* image and paragraph layout */
.cnt-img {
    margin: 0;
    flex: 30%;
}

 .cnt-img img {
    width:100%;
    display: block;
    margin-inline: auto;
    border-radius: 12px;
 }

 /* Making content responsive */

 @media screen and (max-width:700px) {
    .cnt-img, .cnt-para {
        flex: 100%;
    }
    .navbar {
        flex-direction: column;
        height: auto;
        width: 100%;
    }
    .navbar a {width: 100%}
 }
/* Designs related to profile cards */ 

.profile-card {
    height: 380px;
    width: 280px;
    border-radius: 10px;
    margin: 12px;
    flex-direction: column;
}
.profile-pic img {
    height: 180px;
    width: 180px;
    border-radius: 100%;
    margin: 0 0 18px 0 ;

}
/* Setting colors  for each profile card */
#profile-card-1 {background: lightgray;}
#profile-card-2 {background: slategrey;}
#profile-card-3 {background: dimgrey;}
#profile-card-4 {background: darkgrey;}
#profile-card-5 {background: darkslategrey;}

/* Footer styles */
 .footer {
    text-align: center;
    font-size: 1em;
 }
 .footer a {
    text-decoration: inherit;
    font-weight:bold ;
 }